*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana,sans-serif;
}

header{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

a{
    text-decoration: none;
}

.header{
    font-family: fontawesome;
    font-size: 37px;
    letter-spacing: 3px;
    display: inline;
    margin-left: 10px;
}

.buttons{
    float: right;
}

.dotcom-span{
    color: #4CAF50;
}

.subHeader{
    position: relative;
    float: right;
    margin-top: 16px;
    display: block;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
    bottom: 0px;
    margin-right: 10px;
}

.background-green{
    background-color: #4CAF50;
}

.menu-horizontal{
    display: block;
    width: 100vw;
    height: 57px;
    overflow: hidden;
}

.menu-horizontal a{
    width: auto;
    float: left;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 8px 16px;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 4px;
}

.menu-horizontal a:hover{
    background-color: white;
    color: black;
}

.menu-vertical{
    position: fixed;
    width: 15%;
    display: block;
    height: 100vh;
    padding: 10px;
    border-right: 0.5px solid gray;
    box-shadow: 1px 1px 2px 0.5px gray;
}

.menu-vertical li{
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;

}

.menu-vertical li a{
    font-size: 16px;
    color: black;
    display: block;
    width: 100%;
}

.menu-vertical li a:hover{
    background-color: #cccc!important
}

.menu-vertical header{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: fixed;
    margin-top: 50px;
    background-color: #ccc!important;
    min-width: 160px;
    width: 100%;
    height: 100%;
    color: black
}
.dropdown-content header{
    margin: 0px;
    padding: 0px;
    text-align: left;
}


.dropdown-content li{
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    display: block;
}

.dropdown-content li a{
    font-size: 16px;
    color: black;
    display: block;
    text-align: left;
    float:none;
    letter-spacing: 0px;
    width: auto;
    padding: 10px;
    font-family: Verdana,sans-serif;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.dropdown-content a:hover{

    background-color: gray!important;
}

.dropdown-content header{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Verdana,sans-serif;
    color: black;
}

li:hover .dropdown-content {
    display: block;
    z-index: 1;
}
